.footer-1 {
    div#MPOuterFooter {
        background: #016299;
        padding: 50px;

        ul {
            display: none;
        }

        #FOOTER {
            max-width: 1200px;
            margin: 0 auto;

            .col-md-4 {
                text-align: right;

                p {
                    display: block;
                    margin: 0;

                    b {
                        font-weight: bold !important;
                    }
                }
            }

            #MPFooter {
                display: none;

                & + .row {
                    display: none;
                }
            }
        }

        * {
            color: white;
        }
    }
}

.footer-2 {
    div#MPOuterFooter {
        background: #e0e0e0;
        padding: 50px;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                display: inline-block;
                margin: 10px 15px;

                a {
                    font-weight: bold;
                }

                &:last-child {
                    margin: 10px 0 10px 15px;
                }
            }
        }

        #FOOTER {
            max-width: 1200px;
            margin: 0 auto;

            .col-md-4 {
                text-align: right;

                img {
                    filter: brightness(0);
                }

                p {
                    display: block;
                    margin: 0;

                    b {
                        font-weight: bold !important;
                    }
                }
            }

            #MPFooter {
                display: none;

                & + .row {
                    display: none;
                }
            }
        }

        * {
            color: #1f1f1f;
        }
    }
}

div#MPFooterLink {
    display: none;
}
