.sponsors-1 {
    .sponsors {
        padding: 65px 0;

        h2 {
            margin: 0;
            font-family: 'Arimo', sans-serif;
            line-height: normal;
            font-size: 28px;
            margin-bottom: 20px;
            font-weight: bold;
        }
    }
}

.sponsors-2 {
    .sponsors {
        padding: 65px 0;

        h2 {
            margin: 0;
            font-family: 'Arimo', sans-serif;
            line-height: normal;
            font-size: 28px;
            margin-bottom: 20px;
            font-weight: bold;
        }

        .HtmlContent {
            text-align: center;

            div {
                display: inline-block;
                width: 15%;
                padding: 15px;
            }
        }
    }
}

.logos-1 {
    .logos {
        padding: 65px 0;

        h2 {
            margin: 0;
            font-family: 'Arimo', sans-serif;
            line-height: normal;
            font-size: 28px;
            margin-bottom: 20px;
            font-weight: bold;
        }
    }
}

.logos-2 {
    .logos {
        padding: 65px 0;

        h2 {
            margin: 0;
            font-family: 'Arimo', sans-serif;
            line-height: normal;
            font-size: 28px;
            margin-bottom: 20px;
            font-weight: bold;
        }

        .HtmlContent {
            text-align: center;

            div {
                display: inline-block;
                width: 15%;
                padding: 15px;
            }
        }
    }
}
